<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <h1 class="text-center heading"><%= @question.title %></h1>

    <%= markdown(@question.content) %>
    <p>Asked by Team "<%= @question.team %>"</p>

    <hr />

    <h2 class="text-center">Answers: </h2>

    <% @question.answers.each do |answer| %>
      <%= render answer %>
    <% end %>
  </div>
</div>
