<div class="wrapper">
  <div class="card answer">
    <div class="card-body">
      <%= markdown(answer.content) %>
      <hr />
      <div class="d-inline-flex w-100 justify-content-between">
        <small class="text-muted">Answered by "<%= @question.team %>"</small>
        <small>Answered on <span class="text-muted"><%= @question.created_at.strftime('%d-%m-%Y %H:%M') %></span></small>          
      </div>
    </div>
  </div>
</div>
