// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {
  background-color: rgb(231, 230, 230) !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
