.login-wrapper {
  padding-top: 15vh;
  min-height: 92vh;
  background-image: url("/images/official-background.jpg");
}

.form-wrapper {
  border-radius: 10px;
  padding: 10%;
  background-color: whitesmoke;
}