// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-button-wrapper {
  margin: 5vh;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 150px !important;
}

.list-group.questions {
  margin-bottom: 4vh;
}

.team-link:hover {
  text-decoration: none;
}