// Place all the styles related to the technologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-technology {
  margin: 1vw;
  padding-top: 7vh !important;
  padding-bottom: 7vh !important;
  font-size: 20px !important;
}
