<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center">
    <h1 class="heading">Choose a technology</h1>

    <div>
      <%= render @technologies %>
    </div>
  </div>
</div>
