<div class="wrapper">
  <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <h1 class="text-center heading">Choose a technology</h1>

    <div class="text-center">
      <%= render @technologies %>
    </div>
  </div>
</div>
