<p>Hello, <strong><%= @resource.full_name %><strong>!</p>

<p><i>Mentorshipper</i> requires you to set a password. You can do this through the link below.</p>

<p><i>- Here we sent a newly password reset tokens with longer expiry date -</i></p>

<p><%= link_to 'Set password for Mentorshipper account', edit_password_url(@resource, reset_password_token: @token) %></p>

